@import 'ghostsui';

/* styles moved here from $lib/boundary.svelte due to */
/* https://github.com/sveltejs/svelte/issues/16404 */
/* when fixed should move back to component */
.boundary {
	&.failed,
	&.pending {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: fit-content;
		gap: 4px;
	}

	&.failed {
		color: var(--red);
	}
}

.boundary.pending svg,
.spin {
	animation: spin 1s linear infinite forwards;
	transform: rotate(0deg);
	will-change: transform;
}

@keyframes spin {
	100% {
		transform: rotate(1turn);
	}
}
